{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/panier.css') }}">
{% endblock %}

{% block content %}
    <div class="cart-container">
        <h1 class="cart-header">Votre Panier</h1>

        <div class="cart-items">
            {% for item in cartItems %}
                <div class="cart-item">
                    <img src="{{ asset('assets/articleImages/' ~ item.cover) }}" alt="{{ item.name }}">
                    <div class="cart-item-details">
                        <div class="cart-item-name">{{ item.name }}</div>
                        <div class="cart-item-price">{{ item.price }} €</div>
                    </div>
                    <button class="cart-item-remove">Supprimer</button>
                </div>
            {% endfor %}
        </div>

        <div class="cart-summary">
            <div class="cart-summary-total">
                Total : {{ totalPrice }} €
            </div>
            <button class="cart-summary-checkout" onclick="window.location.href='/checkout'">Procéder au Paiement</button>
        </div>
    </div>
{% endblock %}
