<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}?v={{ random() }}">


		<title>
			{% block title %}Mon Site
			{% endblock %}
		</title>
	</head>
	<body>

		{% block navbar %}
			{% include 'base/navbar.html.twig' %}
		{% endblock %}
		{# <nav>
		        <ul>
		            <li><a href="{{ path('homepage') }}">Accueil</a></li>
		            <li><a href="{{ path('product_list') }}">Produits</a></li>
		            <li><a href="{{ path('cart') }}">Panier</a></li>
		            <li><a href="{{ path('checkout') }}">Paiement</a></li>
		            <li><a href="{{ path('payment_confirmation') }}">Confirmation Paiement</a></li>
		            <li><a href="{{ path('account') }}">Compte</a></li>
		        </ul>
		    </nav> #}

		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
</html>

