{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.password_confirmation) }}
        {{ form_row(form.terms_conditions) }}

        <button type="submit">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}
